<%= render "pages/navbar"%>
<div class="container">
  <h1 class="animate-charcter">Create a booking</h1>
  <div class="row">
    <div class="col">
      <%= render 'form', game: @game, booking: @booking %>
      <br>
      <%= link_to "Back to games", games_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
<%= render "pages/footer"%>
