<h1>My Pending Clients</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless @bookings.nil? %>
        <% @bookings.each do |booking| %>
          <div>
            <p>Booking ID: <%= booking.id %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
