<h1>My Pending Requests</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless @bookings.nil? %>
        <% @bookings.each do |booking| %>
          <div>
            <%= booking.id %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
