<%= render "navbar"%>
<div class="container">
  <div class="container-spacer"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deetrshgq/image/upload/v1709223601/development/hltc8x48so33vig92nn6wk1cmhh7.png);">
    <h1 class="animate-charcter" style="font-size: 56px;"><strong>Game</strong>Rental</h1>
    <p>Earn money lending games,</p>
    <p>Try out games for cheap!</p>
  </div>
</div>
<%= render "footer"%>
