<%= render "navbar"%>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.imgur.com/oQ0lPZO.png);">
  <div class="container">
    <h1><strong>Game</strong>Rental</h1>
    <p>Earn money lending games,</p>
    <p>Try out games for cheap!</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
