.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/deetrshgq/image/upload/v1709223601/development/hltc8x48so33vig92nn6wk1cmhh7.png');
  background-size: cover auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 120px 0;
  border-radius: 8px;
}



.container .banner {

}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.banner-container {

}
