.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  margin: 4px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  box-shadow:inset 4px 4px 4px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.3),
   4px 4px 5px 0px rgba(0,0,0,.3);
}
