.heart-icon {
  top: 0px;
  left: 8px;
  font-size: 24px;
  text-decoration: none;
  color: rgba(235, 134, 196, 0.75);
  z-index: 1; /* Ensure heart icon is above the image */
  position: absolute; /* Position the heart icon */
}

.game-card {
  background-color: rgba(255,255,255,0.6);
  position: relative;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  border-radius: 4px;
  margin-bottom: 8px;
}

.game-card-img {
  height: 120px;
  width: 120px;
  padding: 4px;
  box-sizing: border-box; /* Include padding in width */
  display: flex;
  align-items: center; /* Center image vertically */
  position: relative; /* Add relative positioning */
}

.game-card-img img {
  height: 100%; /* Ensure all images have the same height */
  width: 120px; /* Maintain aspect ratio */
}

.game-card-infos {
  padding: 8px;
  flex-grow: 1; /* Fill remaining space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-card-title {
  display: flex;
  justify-content: space-between; /* Maximum space between items */
  align-items: center; /* Align items to the center */
  flex-wrap: wrap; /* Allow items to wrap */
  margin-bottom: 4px; /* Add space between title and text */
}

.game-card-title h2 {
  flex: 1; /* Take as much space as needed */
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 0; /* Reset margin */
}

.game-card-title p {
  font-size: 12px;
  opacity: .7;
  color: black;
  margin: 0; /* Reset margin */
}

.game-card-text p {
  font-size: 12px;
  opacity: .7;
  color: black;
  margin: 0; /* Reset margin */
}

.game-card-signature p {
  font-size: 12px;
  opacity: .7;
  color: black;
  margin: 0; /* Reset margin */
  text-align: right; /* Align to the right */
}
